<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Responsive Login Form</title>
  </head>
  <body>
    <div class="lp-demo-6-container">
      <!-- Image Section -->
      <div class="image-section">
        <img src="images/Illustration.png" alt="Illustration" />
      </div>

      <!-- Form Section -->
      <div class="form-section">
        <h1>Get Started <span>Login Prime</span></h1>
        <div class="social-login">
          <button>
            <img src="images/Google - Original.png" alt="Google" />
            Login with Google
          </button>
          <button>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
              alt="Facebook"
            />
            Login with Facebook
          </button>
        </div>
        <div class="divider">OR</div>
        <!--! form -->
        <form>
          <div>
            <label for="">Email</label>
            <div class="form-group">
              <img src="images/Vector.png" alt="Email Icon" />
              <input type="email" placeholder="example@gmail.com" required />
            </div>
          </div>
          <div>
            <label for="">Password</label>
            <div class="form-group">
              <img src="images/password-img.png" alt="Password Icon" />
              <input type="password" placeholder="Password" required />
            </div>
          </div>
          <div class="form-options">
            <label> <input type="checkbox" /> Remember me </label>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" class="submit-button">Login</button>
        </form>
        <div class="register-link">
          Don't have an account? <a href="registration-demo-6.html">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
