<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui-3_register-form-Dark.css">
    <title>Create Account</title>
    <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
    <div class="lp-3rd-form-container lp-dark">
        <h2>Create an account</h2>
        <form>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" placeholder="Your firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" placeholder="Your lastname">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="@username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="youremail@gmail.com">
            </div>
            <div class="form-group password-toggle">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password">
                
            </div>
            <div class="form-group password-toggle">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" placeholder="Enter your password">
            </div>
            <div class="terms ">
                <input type="checkbox" id="terms">
                <label class="textColor" for="terms">I agree to the <a class="textColor"  href="#">terms & policy</a></label>
            </div>
            <button type="submit" class="button">Create account</button>
            <div class="google-button">
                <img src="images/Google - Original.png" alt="Google Logo">
                Continue with Google
            </div>
            <div class="google-button">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="Google Logo">
                Continue with Facebook
            </div>
        </form>
        <div class="login">
            Already have an account? <a href="login-demo-dark-3.html">Log In</a>
        </div>
    </div>
</body>
</html>
