<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/responsive.css" />
</head>
<body>
  <div class="lp-main-container">
    <h2 class="lp-title">Registration</h2>
    <div class="lp-tabs">
      <a class="lp-tab lp-login-tab" href="login-demo-1.html">Login </a>
      <button class="lp-tab active">Register</button>
      
    </div>
    <form class="lp-form">
      <input type="text" placeholder="First Name" class="lp-input-field">
      <input type="text" placeholder="Last Name" class="lp-input-field">
      <input type="text" placeholder="@username" class="lp-input-field">
      <input type="email" placeholder="Email" class="lp-input-field">
      <input type="password" placeholder="Password" class="lp-input-field">
      <input type="password" placeholder="Confirm Password" class="lp-input-field">
      <div class="lp-terms">
        <input type="checkbox" id="terms">
        <label for="terms">I agree to the <a href="#">terms & policy</a></label>
      </div>
      <button type="submit" class="lp-btn">Register</button>
    </form>
    <p class="lp-register-text">Already have an account? <a href="login-demo-1.html">Login Now</a></p>
  </div>
</body>
</html>
