<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Login Form</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

  </head>
  <body>
    <div class="back-login-container">
      <section class="form-section">
        <div class="form-container">
          <h1>Welcome Back 👋</h1>
          <p class="login-sub-title">
            Today is a new day. It's your day. You shape it. Sign in to start managing your projects.
          </p>
          <!-- social login -->
          <div class="social-login">
            <div class="social-button">
              <img src="images/Google - Original.png" alt="Google Logo" />
              Sign in with Google
            </div>
            <div class="social-button">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
                alt="Facebook Logo"
              />
              Sign in with Facebook
            </div>
          </div>
          <div class="separator">Or</div>

          <form>

            <label for="">Firstname</label>
            <input
              type="text"
              id=""
              placeholder="Your first name"
              required
            />
            <label for="">Lastname</label>
            <input
              type="text"
              id=""
              placeholder="Your last name"
              required
            />

            <label for="">Username</label>
            <input
              type="text"
              id=""
              placeholder="@username"
              required
            />

            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Example@email.com"
              required
            />
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="At least 8 characters"
              required
            />
            <label for="password">Confirm Password</label>
            <input
              type="password"
              id=""
              placeholder="Confirm Password"
              required
            />
            <div class="checkbox-prime-container">
                <div class="checkbox-prime-wrapper">
                <input class="remember-me-checkbox" type="checkbox" />
                <span>Remember me</span>
              </div>
              <div style="width: 100%">
                <a href="#" class="forgot-password">Forgot Password?</a>
              </div>
            </div>
            <button type="submit" class="submit-button">Register</button>
          </form>
          

          <p>
            Don't have an account?
            <a href="login-demo-5.html">Login</a>
          </p>
        </div>
      </section>
      <section class="image-section">
        <img src="images/login-art.png" alt="Decorative Flowers" />
      </section>
    </div>
  </body>
</html>
