<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Login Form</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
  </head>
  <body>
    <div class="login-container login-prime-container">
      <section class="form-section">
        <div class="form-container form-width-container">
          <h1>Get started Now</h1>
          
          <form>
            <label for="">Firstname</label>
            <input type="text" id="" placeholder="Your first name" required />
            <label for="">Lastname</label>
            <input type="text" id="" placeholder="Your last name" required />

            <label for="">Username</label>
            <input type="text" id="" placeholder="@username" required  />

            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Example@email.com" required />
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="At least 8 characters"required />
            <label for="">Confirm Password</label>
            <input type="password" id="" placeholder="Confirm your password" required />
            <div class="checkbox-prime-container">
                <div class="checkbox-prime-wrapper">
                <input class="remember-me-checkbox" type="checkbox" />
                <span>I agree with the terms & condition</span>
              </div>
            </div>
            <button type="submit" class="submit-button">Register</button>
          </form>
          <div class="separator">Or</div>
          <div class="social-login">
            <div class="social-button">
              <img src="images/Google - Original copy.png" alt="Google Logo" />
              Google
            </div>
            <div class="social-button">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
                alt="Facebook Logo"
              />
              Facebook
            </div>
          </div>
          <p>
            Have an account?
            <a href="login-demo-4.html">Login</a>
          </p>
        </div>
      </section>
      <section class="image-section">
        <img src="images/img.png" alt="Decorative Flowers" />
      </section>
    </div>
  </body>
</html>
