@media (max-width: 768px) {
    .lp-login-container {
        width: 376px;
        padding: 36px;
        .lp-tabs, .lp-input-field, .lp-terms, .lp-register-text, .lp-title{
            margin-bottom: 20px;
        }
        
    }
    .login-prime-container {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 50px;
      .image-section {
        img {
          width: 356px;
          height: 256px;
          border-radius: 12px;
        }
      }
    }
    .back-login-container {
      flex-direction: column-reverse;
      align-items: center;
      .image-section {
        img {
          width: 356px;
          height: 256px;
          border-radius: 12px;
        }
      }
    }
    .lp-demo-6-container {
      flex-direction: column;
      .image-section {
        order: 1;
        img {
            width: 356px;
            border-radius: 12px;
          }
      }
      .form-section {
        order: 2;
      }
    }
  }




