:root {
    /* --heading-font-family: Arial, sans-serif; */
    --body-font-family: Arial, sans-serif;
    --title-font: 48px;
    /* color */
    --black-color: #000000;
    --black-bg: #000000;
    --red-bg: #EE4239;
    --white-color: #ffffff;
    --grey-bg: #f5f5f5;
    --white-bg: #ffffff;
    --blue-link: #007bff;
    --grey-border-color: #dddddd;
    --lt-black-color: #333333;
  }
  


// Login Demo 01 Sytle

.lp-main-container {
    background: var(--white-bg);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 476px;
    margin: auto;
    .lp-title {
        font-size: var(--title-font);
        font-weight: bold;
        margin-bottom: 40px;
    }
    .lp-tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 20px;
        .lp-tab {
            width: 50%;
            padding: 10px 0;
            font-size: 16px;
            border: none;
            background: none;
            cursor: pointer;
            border-width: 2px;
            border-style: solid;
            border-color: var(--btn-border-color);
            border-radius: 4px;
            color: var(--black-color);
            text-decoration: none;
            &.active {
                font-weight: bold;
                background: var(--btn-bg-color);
                color: var(--white-color);
                border-radius: 4px;
            }
            &.lp-red-btn{
                border: 2px solid var(--btn-bg-color);
                &.active {
                    background: var(--btn-bg-color);
                    color: var(--btn-text-color);
                    border: 2px solid var(--red-bg);
                }
                &:hover{
                    background-color: var(--red-bg);
                    color: var(--btn-text-color) !important;
                }
            }
            &:hover{
                background-color: var(--btn-bg-color);
                color: var(--btn-text-color) !important;
            }
            &:visited{
                color: var(--black-color);
                text-decoration: none;
            }
           
          }
          
    }
    .lp-form{
        .lp-input-field {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid var(--grey-border-color);
            border-radius: 5px;
            font-size: 14px;
        }
          
        .lp-forgot-password {
            display: block;
            text-align: left;
            margin-bottom: 20px;
            font-size: 12px;
            color: var(blue-link);
            text-decoration: none;
            &.lp-red{
                color: var(--red-bg);
            }
            &:hover {
                text-decoration: underline;
                }
        }
        .lp-btn { 
            width: 100%;
            padding: 20px 10px;
            background: var(--btn-bg-color);
            color: var(--btn-text-color);
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background: var(--btn-hover-bg);
                color: var(--btn-hover-text);
            }
        }
        .lp-red-btn { 
            background: var(--red-bg);
            color: var(--white-color);
            border: 2px solid var(--red-bg);
            &:hover {
                background: var(--white-color);
                color: var(--red-bg);
            }
        }
    }

    .lp-register-text {
        font-size: 14px;
        margin-top: 15px;
        a {
            color: var(blue-link);
            text-decoration: none;
            &.lp-red{
                color: var(--red-bg)
            }
        }
    }
      
      .lp-register-text{
        a{
            &:hover{
                text-decoration: underline;
            }
            &.lp-red{
                color: var(--red-bg);
            }
        }
      }
        .lp-terms {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-bottom: 20px;
            text-align: left;
            input {
                margin-right: 10px;
            }
            a {
                color: var(--blue-link);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .lp-red{
                color: var(--red-bg);
            }
        }
  }


// Demo 3 style 

.lp-3rd-form-container {
    background-color: var(--white-bg);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    &.lp-dark{
        background-color: #131316;
        box-sizing: content-box;
        h2{
            color: #fafafa;
            margin: 20px;
            font-size: 28px;
        }
        
        .social-login{
            .social-button {
                background-color: #26272b;
                border: 1px solid #d4dce1;
                color: #a0a0ab;
                &:hover {
                    background-color: #e2e6ea;
                    color: #333;
                }
            }
        }
       
        .divider {
            color: #98a2b3;
            &:before, &:after{
                background-color: #d4dce1;
              
            }
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }
        .form-group{
            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: #d1d1d6;
            }
            input {
                width: 100%;
                padding: 10px;
                border: 2px solid #3f3f46;
                border-radius: 5px;
                font-size: 14px;
                color: #d1d1d6;
                box-sizing: border-box;
                background-color: #131316;
                &:focus {
                    border: 2px solid #d0d5dd;
                    border-color: #194185;
                    outline: none;
                  }
              }
        }
        .signup {
            color: #d1d1d6;
          }
    }
    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: var(--lt-black-color);
        text-align: center;
    }
    .social-login {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
        .social-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48%;
            padding: 10px;
            background-color: #f5f7fa;
            border: 1px solid #d4dce1;
            border-radius: 5px;
            cursor: pointer;
            img {
                width: 20px;
                margin-right: 10px;
            }
            &:hover {
                background-color: #e2e6ea;
            }
        }
    }
    .divider {
        text-align: center;
        margin: 15px 0;
        color: #98A2B3;
        position: relative;
        &:before, &:after{
            content: '';
            position: absolute;
            top: 50%;
            width: 40%;
            height: 1px;
            background-color: #d4dce1;
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }

    }
    .form-group {
        margin-bottom: 15px;
        input::placeholder{
            color: #98A2B3;
          }
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #344054;
        }
        input {
            width: 100%;
            padding: 10px;
            border: 2px solid #D0D5DD;
            border-radius: 5px;
            font-size: 14px;
            color: #333;
            box-sizing: border-box;
            &:focus {
                border: 2px solid #D0D5DD;
                border-color: #D1E9FF;
                outline: none;
            }
        }
    }
    .form-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        a {
            color: #1570EF;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: var(--btn-bg-color);
        color: var(--btn-text-color);
        border-width: var(--btn-border-width);
        border-style: var(--btn-border-type);
        border-color: var(--btn-border-color);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: var(--btn-hover-bg);
            color: var(--btn-hover-text);
        }
    }
    .signup {
        text-align: center;
        margin-top: 20px;
        a {
            color: #1570EF;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .terms {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 16px;
        input {
            margin-right: 10px;
          }
          a {
            color: black;
            &:hover {
                text-decoration: underline;
                
              }
          }
        
          .checkbox-container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              input:checked {
                ~ .checkmark {
                  &::after {
                    display: block;
                  }
                }
              }
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                background-color: #0056b3;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }

          }
       
      }
      .textColor{
        color: #fff;
      }
              }
      .google-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f7fa;
        color: #333;
        padding: 10px;
        border: 1px solid #d4dce1;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
            background-color: #e2e6ea;
          }
        img {
            width: 20px;
            margin-right: 10px;
          }
      }
      .login {
        margin-top: 20px;
        text-align: center;
        color: #98a2b3;
        a {
            color: #1570ef;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
              }
          }
      }
}

// demo 4 style

.login-prime-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .image-section {
        flex: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
      .form-section {
        flex: 1;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-width-container {
         width: 328px;
        }
        .form-container {
            max-width: 400px;
            margin: 0 auto;
            .login-sub-title{
                font-size: 16px;
                font-weight: 500;
              }
              h1 {
                font-size: 32px;
                margin-bottom: 10px;
              }
              p {
                color: #666;
                font-size: 0.9rem;
                margin-bottom: 20px;
              }
              
              form {
               
                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                    display: block;
                    color: #333;
                    font-weight: 500;
                  }
                  input,
                    #email,
                    #password {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid #d9d9d9;
                    border-radius: 10px;
                    font-size: 0.9rem;
                    outline-color: #cfcfcf;
                    color: #444;
                  }
                  .checkbox-prime-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    .checkbox-prime-wrapper{
                        width: 100%;
                        align-items: center;
                        display: flex;
                        gap: 8px;
                        .remember-me-checkbox {
                            width: 12%;
                            height: 25px;
                            padding: 0px;
                            margin-bottom: 0px;
                          }
                      }
                      .forgot-password {
                        color: #007bff;
                        font-size: 0.8rem;
                        text-decoration: none;
                      }
                  }
                  .submit-button {
                    width: 100%;
                    padding: 10px;
                    background: var(--btn-bg-color);
                    color: var( --btn-text-color);   
                    border-width: var(--btn-border-width);
                    border-style: var(--btn-border-type);
                    border-color: var(--btn-border-color);
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    &:hover {
                        background: var(--btn-hover-bg); 
                        color: var(--btn-hover-text);
                      }
                  }
                 p {
                    text-align: center;
                    font-size: 0.9rem;
                  }
                  &.lp-demo-5-from{
                    input {
                       &#email,
                    &#password {
                        padding: 16px;
                    }
                    }
                  }
              }
              .separator {
                text-align: center;
                margin: 20px 0;
                color: #aaa;
                position: relative;
                &::before,
                &::after {
                  content: "";
                  width: 40%;
                  height: 1px;
                  background: #ddd;
                  position: absolute;
                  top: 50%;
                }
              
                &::before {
                  left: 0;
                }
              
                &::after {
                  right: 0;
                }
              }
              .social-login {
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 20px;
                .social-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48%;
                    padding: 10px;
                    background-color: #f5f7fa;
                    border: 1px solid #d4dce1;
                    border-radius: 5px;
                    cursor: pointer;
                    img {
                        width: 20px;
                        margin-right: 10px;
                    }
                    &:hover {
                        background-color: #e2e6ea;
                    }
                }
            }
          }
      }  
  }





  // demo 5 style

.back-login-container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .image-section {
        flex: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
      .form-section {
        flex: 1;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-width-container {
         width: 328px;
        }
        .form-container {
            max-width: 400px;
            margin: 0 auto;
            .login-sub-title{
                font-size: 16px;
                font-weight: 500;
                color: #313957;
              }
              h1 {
                font-size: 32px;
                margin-bottom: 10px;
              }
              p {
                color: #666;
                font-size: 0.9rem;
                margin-bottom: 20px;
              }
              
              form {
               
                label {
                    font-size: 16px;
                    margin-bottom: 5px;
                    display: block;
                    color: #333;
                    font-weight: 500;
                  }
                  input,
                    #email,
                    #password {
                        width: 100%;
                        padding: 16px;
                        margin-bottom: 15px;
                        border: 1px solid #D4D7E3;
                        border-radius: 10px;
                        font-size: 0.9rem;
                        outline-color: #D4D7E3;
                        color: #8897AD;
                  }
                  .checkbox-prime-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    .checkbox-prime-wrapper{
                        width: 100%;
                        align-items: center;
                        display: flex;
                        gap: 8px;
                        .remember-me-checkbox {
                            width: 12%;
                            height: 25px;
                            padding: 0px;
                            margin-bottom: 0px;
                          }
                      }
                      .forgot-password {
                        color: #007bff;
                        font-size: 0.8rem;
                        text-decoration: none;
                      }
                  }
                  .submit-button {
                    width: 100%;
                    padding: 10px;
                    background: var(--btn-bg-color);
                    color: var( --btn-text-color);   
                    border-width: var(--btn-border-width);
                    border-style: var(--btn-border-type);
                    border-color: var(--btn-border-color);
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    &:hover {
                        background: var(--btn-hover-bg);   
                        color: var(--btn-hover-text);
                      }
                  }
                 p {
                    text-align: center;
                    font-size: 0.9rem;
                  }
              }
              .separator {
                text-align: center;
                margin: 20px 0;
                color: #aaa;
                position: relative;
                &::before,
                &::after {
                  content: "";
                  width: 40%;
                  height: 1px;
                  background: #ddd;
                  position: absolute;
                  top: 50%;
                }
              
                &::before {
                  left: 0;
                }
              
                &::after {
                  right: 0;
                }
              }
              .social-login {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 20px;
                .social-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    background-color: #F3F9FA;
                    border: 1px solid #d4dce1;
                    border-radius: 5px;
                    cursor: pointer;
                    color: #313957;
                    img {
                        width: 20px;
                        margin-right: 10px;
                    }
                    &:hover {
                        background-color: #e2e6ea;
                    }
                }
            }
          }
      }  
  }








  .lp-demo-6-container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        .image-section {
            flex: 1;
            background: #f7f8fa;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            img {
                max-width: 100%;
                height: auto;
            }
      }
    .form-section {
        flex: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 28px;
            color: #333333;
            margin-bottom: 10px;
            span {
                color: #6a5af9;
              }
          }
        .social-login {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background: #ffffff;
                transition: 0.2s;
                &:hover {
                    background: #f0f0f0;
                  }
              }
              img {
                width: 20px;
                height: 20px;
              }
            
        }
    }

    .divider {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
        font-size: 14px;
        color: #aaaaaa;
        &::before,
        &::after {
          content: "";
          flex: 1;
          height: 1px;
          background: #dddddd;
        }
      }
    .form-group {
        position: relative;
        margin-bottom: 15px;
        margin-top: 6px;
        input {
            width: 100%;
            padding: 10px 40px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 20px;
        }
        
    }
    .without-icons{
        .form-group{
            input{
                padding: 10px;
            }

        }
    }
    .form-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-size: 14px;
        a {
            color: #6a5af9;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .submit-button {
        width: 100%;
        padding: 10px;
        background: var(--btn-bg-color);
        color: var( --btn-text-color);
        font-size: 16px;
        font-weight: bold;
        border-width: var(--btn-border-width);
        border-style: var(--btn-border-type);
        border-color: var(--btn-border-color);
        border-radius: 5px;
        cursor: pointer;
        transition:  0.2s;
        &:hover {
            background: var(--btn-hover-bg);
            color: var(--btn-hover-text);
          }
      }
    .register-link {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        a {
            color: #6a5af9;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
              }
            
          }
    }
  }